<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<!--<link rel="import" href="lq-ajax.html">
<link rel="import" href="lq-quest.html">-->

<dom-module id="pl-ark">
  <link rel="import" type="css" href="css/pl-ark.css">
  <template>
    <paper-material id="serverStatus" elevation="2" class="status">
      <div>
        <h2>Server Status</h2>
        <paper-material class="chat-container">
        <paper-material class="chat-box">
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
            <div class="chat-line">test qweerty</div>
        </paper-material>
        <paper-input id="commandInput" name="commandInput" label="Command/Message"></paper-input>
        </paper-material>
        <paper-material class="player-list">
          <h4>Players (<span>{{players.length}}</span>/70)</h4>
          <ul>
          <template>
            
          </template>
          </ul>  
        </paper-material>
      </div>
    </paper-material>
    <paper-material elevation="4" class="quest-list">
      <div>
      <paper-textarea id="arkConfig" label="GameUserSettings.ini" value="{{arkConfig}}"></paper-textarea>
      <paper-button on-click="saveConfig" raised>Save Config</paper-button>
      </div>
    </paper-material>
    <paper-fab mini icon="refresh" on-click="refreshContent" style="position: fixed; bottom: 5px; right: 5px;"></paper-fab>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'pl-ark',
    properties: {
      arkConfig: {
        type: String,
        notify: true
      },
      players: {
        type: Array,
        notify: true
      }
    },
    ready: function() {
      io.on('arkConfig', function(config) {
        this.arkConfig = config;
      }.bind(this));
      io.on('players', function(players) {
        var playersList = players.split(/\\n\d\. /);
        console.log(playersList);
      }.bind(this));
      io.emit('ready');
    },
    saveConfig: function() {
      io.emit('saveConfig', this.arkConfig.toString());
    },
    refreshContent: function() {}
  });
</script>
